* {
margin: 0;
padding:0;
font—family: Roboto, sans—serif;
text-decoration: none;
}
h1{
    color: #eeebe4f6;
    font-size: 4vh;
    position: relative;
    top: 5vh; left: 2vh;
}
.container{
width: 100vw;
background-image: url(/img.jpg);
backdrop filter: blur(10px);
background-position: center;
background-size:cover;
background-attachment: scroll;
overflow-x: hidden;
overflow: hidden;
}
.navbar{
    height: 11%;
    display: flex;
    align-items: center;

}
.logo{
    width: 50px;
     cursor: pointer;
     position: absolute;
     top: 9%; right: 3%;
    
}
.menu-icon{
    width: 30px;
    cursor:pointer;
}
nav{
    flex: 1;
    text-align: start;
    position: absolute;
    top: 3%; 

}
nav ul li{
    list-style: none;
    display: inline;
    margin-left: 30px;
    margin: 0 10px;
    font-size: medium;

}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;

}
.row{
    display: flex;
    align-items: center;
    height: 88%;
}

p{
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    
}

.card{
    width: 19vh;
    height: 25vh ;
  display:inline-block;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 15px;
    margin-bottom: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
background-position: center;
background-size: cover;
transition: transform 0.5s;
position: relative;

}

.card1{
background-image: url(/unstop.png);
opacity: 0.7;
}
/* .card1:hover{
    opacity: 0.7; */

.card2{
    background-image: url(/foundit.png);
    opacity: 0.7;
}
.card3{
    background-image: url(/naukrii.png);
    opacity: 0.7;
   
}
.card4{ 
    background-image: url(/cuvette.png);
    opacity: 0.7;
}
    .card5{
        background-image: url(/glassdoor.png);
        opacity: 0.7;
    }
     .card6{
            background-image: url(/wellfound.png);
            opacity: 0.7;
}


.card7{
    background-image: url(/linkedin.png);
    opacity: 0.7;
}


.card8{
    background-image: url(/93061-Indeed.avif);
    opacity: 0.7;
}

 .card:hover{
    transform: translateY(-10px);
 }
h5{
    color: #fff;
    text box-shadow: 0 0 5px #999;
}

.card p {
    text box-shadow: 0 0 15px #000;
    font size: 8px;
}

.section2{
    
  
    width: 100%;
    background-image: url(/windows.jpg);
    background-color: rgb(255 255 255 / 0.3);
    backdrop-filter: blur(10px);
}
.hero{
    background-color: rgb(255 255 255 / 0.3);

    backdrop-filter: blur(20px);
    height: 80vh;
      }

